* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;

  display: flex;
  justify-content: center;
}

.App {
  max-width: 1024px;
  text-align: center;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* RadioButtons*/
.radio-div {
  display: flex;
  justify-content: center;
}
.radio-div input {
  border-radius: 100px;
  padding: 14px 16px;
  margin: 10px 0;

  cursor: pointer;
  transition: 0.3s;
}
.rad-label {
  display: flex;
  align-items: center;

  border-radius: 100px;
  padding: 0px 5px;
  margin-bottom: 5px;

  cursor: pointer;
  transition: 0.3s;
}

.rad-label:hover,
.rad-label:focus-within {
  background: hsla(0, 0%, 80%, 0.14);
}

.rad-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.rad-design {
  width: 22px;
  height: 22px;
  border-radius: 100px;

  background: linear-gradient(
    to right bottom,
    hsl(154, 97%, 62%),
    hsl(225, 97%, 62%)
  );
  position: relative;
}

.rad-design::before {
  content: "";

  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;

  background: hsl(0, 0%, 90%);
  transform: scale(1.1);
  transition: 0.3s;
}

.rad-input:checked + .rad-design::before {
  transform: scale(0);
}

.rad-text {
  color: hsl(0, 0%, 60%);
  margin-left: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;

  transition: 0.3s;
}

.rad-input:checked ~ .rad-text {
  color: hsl(0, 0%, 40%);
}

/* Input style*/

.inp-class {
  color: #ee74e1;
  border: 2px solid #ee74e1;
  border-radius: 18px/50%;
  padding: 5px;
  font-size: 18px;
  text-align: center;
  margin: 15px 0;
  font-weight: 900;
  background-color: #fee140;
}
.inp-class:focus {
  outline: none;
}
td {
  border: 1px solid #EE74E1;
}
tr {
  border: 1px solid #EE74E1;
}
.inp-error{
  margin-left: 10px;
font-size: 13px;
color: red;
font-weight: 900;
}

.btn-submit {
  padding: 10px;
  border-radius: 20px/50%;
  margin-left: 10px;
  background-color: #fee140;
  border: 2px solid #ee74e1;
  cursor: pointer;
  transition: all 330ms;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  color: #EE74E1;
}
.btn-submit:hover{
  background-color: #3EECAC;
}

.bg-success{
  transition: all 330ms;
  background-color: #3EECAC;
}
